@media (max-width: 1340px) {
    .black-line {
        width: 95%;
    }
}

@media screen and (max-width:1024px){
    .inner-main-sec{
        flex-direction: column;
    }

    .nav-list{
        position: fixed;
        width: 60%;
        flex-direction: column;
        gap:30px;
        top: 0;
        right: 0;
        z-index: 99;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#FF6700;
        transform: translateX(100%);
        transition: .4s;
    }

    .close{
        position: absolute;
        top:25px;
        right: 25px;
        width: 30px;
        height: 30px;
        object-fit: contain;
        display: block
    }

    .openNav-menu{
        transform: translateX(0%);
    }

    .inner-menu li a{
        color:#fff!important;
    }

    .nav-list li a {
        color:#fff;
        text-align: center;
        font-size: 25px;
    }

    .nav-toggle{
        display: flex;
    }


    .navbar-brand{
        width: 25%;
    }

    .nav-menu{
        width: 25%;
        justify-content: flex-end;
        overflow: hidden!important;
    }

    .nav-buttons{
        width: 50%;
    }

    .team-images{
        flex-wrap: wrap;
    }

    .homepage{
        height: 600px;
    }

    .home-banner{
        width: 100%!important;
    }

    .home-banner-sec{
        align-items: center;
        gap:10px;
    }

    .home-banner-sec h3{
        text-align: center;
    }

    .dis.content{
        flex-direction: column;
        align-items: flex-start;
    }

    .context{
        display: flex;
        flex-direction: column;
        gap:15px;
    }

    .cont-image{
        display: flex;
        justify-content: center;
    }

    .cont-image img{
        width: 60%;
    }

    .discover-flex{
        flex-wrap: wrap;
    }

    .discover-card{
        width: 47%;
        flex: auto;
    }

    .feature-img{
        flex-wrap: wrap;
    }

    .exp-card{
        width: 47%;
        flex: auto;
    }


    .howDoes-context img {
        width: 100%;
        height: 400px;
        border-radius: 20px;
        object-fit:cover ;
    }

    .image.card{
        width: 47%!important;
    }

    .inner-section-step div{
        flex: auto!important;
    }

    .subs-content h2{
        font-size: 50px;
    }

    .top-footer{
        padding:50px 20px;
    }

    .top-footer-content{
        flex-wrap: wrap;
        gap:0px;
    }

    .footer-brand{
        width: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer-brand p {
        text-align: center;
    }

    .footer-list-menu, .footer-follow-us, .footer-get-started{
        width:33.3%;
    }







    /* HOW IT WORKS */


    .hiw-content{
        width: 100%;
    }

    .step-2{
        flex-direction: column-reverse;
    }


    /* FAQ */

    .second-faq{
        flex-direction: column-reverse;
    }


    /* CONTACT PAGE */


    .contact-details-card{
        flex-direction: column;
    }



    /* BROWSE PAGE MAIN */

    .browse-form{
        padding:30px;
        border-radius: 20px;
    }


    /* BROWSE INNER PAGE */

    .inner-main-content, .inner-side-bar{
        width: 100%;
    }

    .name-place h2, .place-rate h2{
        font-size: 40px;
    }

    .name-place h4{
        font-size: 25px;
    }

    .place-utilities{
        flex-wrap: wrap;
    }

    .inner-utils{
        flex: auto!important;
        width: 20%;
    }




    /* MEMBERSHIP */

    .hdw-row{
        flex-wrap: wrap;
        flex: none!important;
        gap:0px;
        row-gap: 20px;
    }


    .hdw-flex{
        width: 50%;
    }


    /* OUR STORY */


    .vet-proc-column img{
        width: 40%;
        object-fit: cover;
    }

    .vet-proc-content{
        width: 60%;
    }

    section#vet-proc{
        gap:30px;
    }

    .content h3{
        font-size: 30px;
    }


    .inner-main-sec.contact{
        flex-direction: column-reverse;
        gap:50px;
    }

    .inner-main-sec{
        gap:50px;
    }

    section.join{
        padding: 100px 20px
    }

    .inner-menu .destop .nav-sign-in {
        color:#000!important;
    }




    /* Create Your listing */

    .desires-cont-col{
        flex-direction: column;
    }

    .desire-item{
        width: 100%!important;
    }
    #add-home-tab .inner-main-sec {
        justify-content: center;
        align-items: center;
    }
    #basicSec {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .basicSec .basicContain {
        width: 47%;
    }
    .cyl-user-profile {
        width: 230px;
    }
    .exchanges-page .add-homeSec2 img {
        height: 380px;
    }
}

@media (max-width: 539px) {
    .basicSec .basicContain {
        width: 100%;
    }
}

@media screen and (max-width:500px){
    .destop{
        display: none;
    }

    .mobile{
        display:flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-list{
        width: 100%;
    }

    .nav-list li a{
        font-size: 20px;
    }

    .nav-create-btn{
        background-color: #c55003;
    }

    .main-navbar{
        gap:0px;
    }

    .navbar-brand{
        width: 80%;
        display: flex;
        align-items: center;
    }

    .nav-menu{
        width: 20%;
    }

    .hiw-content h2{
        font-size: 50px;
    }

    .home-banner form{
        width: 100%;
    }

    .subs-content form input[type="submit"], .home-banner form input[type="submit"]{
        font-size: 10px;
    }

    .hiw-content p{
        font-size: 16px;
    }

    .feature-img img{
        width: 100%;
    }

    .follow-content h4{
        font-size: 20px;
    }

    .inner-main-sec{
        gap:30px;
    }

    .howDoes-column{
        padding: 30px 20px;
    }

    .faqs-banner h2{
        font-size: 40px;
    }

    .faqs-banner p{
        font-size: 18px;
    }

    .cont-image img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .subs-content h2{
        font-size: 30px;
    }

    .footer-list-menu, .footer-follow-us, .footer-get-started{
        width: 100%;
    }

    .top-footer-content{
        gap:20px;
    }

    .bot-footer-content{
        gap:10px;
        flex-direction: column;
        align-items: center;
    }

    .section-how-it-works{
        height: auto;
    }


    /* BROWSE PAGE */

    .browse-form{
        flex-direction: column;
    }

    .browse-form .input, .browes-btn{
        width: 100%;
    }

    .browse-content h2{
        font-size: 40px;
    }


    /* FAQ */

    .faqs-content h2, .hdw h2{
        font-size: 35px;
    }


    .contact-sec form{
        flex-wrap: wrap;
    }

    .contact-sec form input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select, textarea{
        width: 100%;
    }

    .inner-section-contact-form{
        padding: 30px 20px;
    }

    .contact-sec h3{
        font-size: 30px;
    }

    .contact-details-content h2{
        font-size: 30px;
    }

    .detail-card{
        flex-direction: column;
    }

    .card, .number{
        width: 100%;
    }

    .contact-details-content p{
        text-align: center;
    }

    /* BROWSE INNER PAGE */

    .inner-browse-main{
        padding: 40px 20px;
    }

    .section-menu{
        flex-direction: column;
        gap:0px;
    }

    .head-info{
        flex-direction: column;
        gap:20px;
    }

    .name-place h2, .place-rate h2{
        font-size: 20px;
    }

    .place-rate{
        align-items: flex-start ;
    }

    .name-place h4{
        font-size: 15px;
    }

    .name-place, .place-rate{
        width: 100%;
    }

    .inner-utils{
        width: 30%;
    }

    .inner-description, .inner-amenities-sec, .schedule-sec, .user-card-sec{
        padding: 30px 20px;
    }

    .list-amens-icon{
        width: 50%;
    }

    .user-info{
        flex-direction: column;
    }

    .user-names{
        align-items: center;
    }

    .user-names p{
        text-align: center;
    }

    .badge-name h3{
        font-size: 18px;
    }

    .verified-lists{
        width: 100%;
    }

    .become-content h3{
        font-size: 25px;
        text-align: center;
    }


    /* MEMBERSHIP */


    .hdw-flex{
        width: 100%;
    }

    .hiw-content h2{
        font-size: 40px;
    }

    /* OUR STORY */

    .vet-proc-column{
        flex-direction: column;
    }


    .vet-proc-column img{
        width: 100%;
    }

    .vet-proc-content{
        width: 100%;
        padding: 30px 20px;
    }



    /* Sign in - Sign Up */


    .popup-form-card{
        padding:50px 20px;
        gap:10px;
    }


    .logo-sign-in, .logo-sign-up{
        width: 60%;
    }


    .line-card hr{
        width: 60px;
    }

    .popup-form-card h3{
        font-size: 25px;
    }
    img.logo {
        height: 40px;
    }
    .exchanges-page .add-homeSec2 img {
        height: 350px;
    }
    .userDropdown p {
        display: none;
    }
    .userProfile {
        gap: 15px;
    }
    
}
@media(max-width: 610px) {
    .add-homeSec2.step4 img {
        height: 300px;
    }
}
@media screen and (max-width: 475px) {
    .exchanges-page .add-homeSec2 img {
        height: 300px;
    }
}
@media (max-width: 470px) {
    .add-homeSec2.step4 img {
        height: 250px;
    }
}
@media (max-width: 445px) {
    .add-homeSec1 h1 {
        font-size: 40px;
    }
    .add-homeSec2 img {
        height: 350px;
    }
    .inputBtn {
        justify-content: center;
        align-items: center;
    }
    .step3 {
        flex-direction: column;
        gap: 20px;
    }
    .inputBtnStep3 {
        flex-direction: column;
        width: 100%;
    }
    input[type="button"] {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #step2.inputBtn {
        flex-wrap: wrap;
        gap: 20px;
    }
    .accordion.step4 {
        flex-wrap: wrap;
    }
    .step4 .accordion-item:nth-child(1),
    .step4 .accordion-item:nth-child(2) {
        width: 100%;
    }
    .counter1 {
        gap: 10px;
    }
    .counter1:nth-child(2) {
        gap: 11px;
    }
    .counTer {
        gap: 10px;
    }
    .step5 .counter1 p {
        font-size: 14px;
    }
    .counter1 img {
        height: 20px;
    }
}
@media (max-width: 385px) {
    .add-homeSec2 img {
        height: 300px;
    }
}
@media (max-width: 375px) {
    .add-homeSec2.step4 img {
        height: 200px;
    }
    .counter1 p,
    div#counter, div#counter2, div#counter3, div#counter4, div#counter5, div#counter6, div#counter7 {
        font-size: 15px;
    }
    .counter1 i {
        padding: 3px;
    }
    .exchanges-page .add-homeSec2 img {
        height: 250px;
    }
}
@media (max-width: 345px) {
    .exchanges-page .add-homeSec2 img {
        height: 200px;
    }
    .userLogo img {
        height: 30px;
    }
    img.toggle-profile {
        height: 15px;
    }
}
@media (max-width: 325px) {
    .add-home-tab h3 {
        font-size: 13px;
    }
}