@font-face {
    font-family: 'General Sans';
    src: url(../fonts/GeneralSans-Bold.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'General Sans';
    src: url(../fonts/GeneralSans-Semibold.otf);
    font-weight: 600;
}


@font-face {
    font-family: 'General Sans';
    src: url(../fonts/GeneralSans-Medium.otf);
    font-weight: 500;
}


@font-face {
    font-family: 'General Sans';
    src: url(../fonts/GeneralSans-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'General Sans';
    src: url(../fonts/GeneralSans-Light.otf);
    font-weight: 300;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, p, a, div, input, select, textarea {
    font-family: 'General Sans';
}



.inner-pages-navbar{
    position: fixed!important;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000050;

}


.inner-menu li a {
    color:#000!important;
}

.inner-menu .nav-sign-in {
    color:#000!important;
}

.inner-menu .nav-create-btn{
    color:#fff;
}

.nav-toggle{
    width:50px;
    height: 50px;
    display: none;
    flex-direction: column;
    gap:5px;
    background-color: transparent;
    justify-content: center;
    border: 0px;

}

.nav-toggle .bar{
    height: 5px;
    width: 100%;
    background-color: #fff;
}


.section-navbar{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 99;
}


.main-navbar{
    width:100%;
    max-width: 1700px;
    display: flex;
    gap:20px;
}


.navbar-brand{
    width:15%;
}

.nav-menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    gap:20px;
}

.home-menu .nav-sign-in{
    color:#fff;
}

.nav-list li a {
    padding:15px 20px;
    text-decoration: none;
    font-size: 17px;
    color:#fff;
}

.nav-buttons{
    width: 25%;
    display: flex;
    gap:10px;
    align-items: center;
}

.nav-create-btn{
    width:70%;
    background-color: #FF6700;
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding:15px 20px;
    text-align: center;
    border-radius: 5px;
}

.nav-sign-in{
    width:30%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:#000;
}



.section-footer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-footer-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 0px;
}

.top-footer-content{
    max-width: 1300px;
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top-footer-content h3{
    font-size: 25px;
}

.bottom-footer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: #FF6700;
}

.bot-footer-content{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}


.footer-brand{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    padding-right: 50px;
}

.footer-brand img{
    width:200px;
}

.footer-brand p{
    color:#000;
}

.footer-list-menu, .footer-follow-us{
    width:20%;
}

.footer-list-menu{
    display: flex;
    flex-direction: column;
    gap:20px;

}

.footer-list-menu a{
    font-size: 17px;
    color:#000;
    text-decoration: none;
}

.footer-follow-us{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.follow-icons{
    display: flex;
    gap:5px;
}

.follow-icons img{
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.footer-get-started{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.footer-get-started a {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color:#fff;
}

.footer-get-started .bam{
    background-color: #FF6700;
}

.footer-get-started .cyl{
    background-color: #292929;
}


.feature-img{
    display: flex;
    align-items: center;
    gap:20px;
    flex-wrap: nowrap;
    width: 100%;
}

.feature-img img{
    flex: 1;
    height: 50px;
    object-fit: contain;
    filter: grayscale(1);
}

.close{
    display: none;
}

.inner-page-bar .bar{
    background-color: #000!important;
}


.public-section{
    background-position: center center;
    background-size: cover;
    padding:60px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-section {
    background-position: center center;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-how-it-works{
    padding:150px 20px 50px;
    height: 550px;
    position: relative;
}

.discover-btn{
    display: flex;
}

.homepage {
    height: 800px;
}

.home-banner {
    width: 60% !important;
}

.home-banner-sec {
    justify-content: center;
}

.home-banner-sec a {
    font-size: 16px;
    color:#fff;
    text-decoration: none;

}

.homepage img {
    filter: invert(50%);
    height: 50px;
}

.disc-section {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.dis.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.discover-card {
    background: #fff;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    flex: 1;
}

.card-div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discover-flex {
    display: flex;
    gap: 20px;
    width: 100%;
}

.exp-card{
    flex: auto!important;
}

.discover-card img, .exp-card img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.section-how-it-works::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000070;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.inner-main-sec{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:100px;
}

.hiw-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    position: relative;
}

.hiw-content h2{
    font-size: 80px;
    font-weight: 600;
    color:#fff;
    line-height: 1em;
}

span{
    color:#FF6700;
}

.hiw-content p {
    font-size: 25px;
    color:#fff;
    line-height: 1.5em;
}
 

.inner-section-step div{
    flex:1;
}

.cont-image img {
    width:100%;
}

.content{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.content h3{
    font-size: 45px;
    color:#FF6700;
    line-height: 1em;
}

.content p{
    font-size: 20px;
    color:#000;
    line-height: 1.4em;
}

.inner-section-follow{
    padding:50px;
    height: 400px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.inner-section-follow::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000070;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.follow-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.follow-content h4{
    font-size: 35px;
    font-weight: 500;
    color:#fff;
    line-height: 1.2em;
    text-align: center;
}

.follow-btn{
    padding:20px;
    width: 250px;
    background-color: #FF6700;
    color:#fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}


.section-subs{
    height: 500px;
}

.section-subs{
    position: relative;
}


.section-subs::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000070;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.inner-section-subs {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.subs-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.subs-content h2{
    font-size: 55px;
    text-align: center;
    color:#fff;
    line-height: 1em;
    font-weight: 600;
}


.subs-content p{
    font-size: 20px;
    text-align: center;
    color:#fff;
    line-height: 1.2em;
    font-weight: 400;
}

.subs-content form{
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.home-banner form {
    width: 80%;
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.subs-content form input[type="email"],
.home-banner form input[type="email"] {
    width: 75%;
    padding:15px 20px;
    border:none;
    font-family: 'General Sans';
    font-size: 16px;
    color:#000;
    font-size: 20px;
}

.subs-content form input[type="submit"],
.home-banner form input[type="submit"] {
    width: 25%;
    border:none;
    border-radius: 10px;
    background-color: #FF6700;
    color: #fff;
    font-family: 'General Sans';
    font-size: 20px;
    font-weight: 400;
}


.section-faqs{
    height: 550px;
    padding: 150px 20px 50px;
}

.faqs-banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.faqs-banner h2{
    font-size: 75px;
    text-align: center;
    color:#000;
    line-height: 1em;
    font-weight: 600;
}


.faqs-banner p{
    font-size: 25px;
    text-align: center;
    color:#000;
    line-height: 1.5em;
    font-weight: 400;
}

.inner-section-faqs-sec-one{
    gap:60px;
}

.inner-section-faqs-sec-one div{
    flex:1;
}

.faqs-image img{
    width: 100%;
}

.faqs-content{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.faqs-content h2, .hdw h2{
    font-size: 55px;
    color:#000;
    line-height: 1em;
    font-weight: 600;
}



.accordion {
    max-width: 100%;
}

.accordion .accordion-item {
box-shadow: 0px 0px 5px #00000067;
border-radius: 5px;
margin-bottom: 20px;
overflow: hidden; /* Ensure smooth animation */
}

.accordion .accordion-header {
background-color: #f4f4f4;
padding: 20px;
cursor: pointer;
display: flex;
font-size: 20px;
justify-content: space-between;
align-items: center;
transition: background-color 0.3s ease; /* Smooth transition */
}

.accordion .accordion-header .icon {
transition: transform 0.3s ease; /* Smooth transition for icon rotation */
}

.accordion .accordion-content {
padding: 20px;
display: none;
}

.accordion .accordion-item.active .accordion-header {
background-color: #e0e0e0;
}

.accordion .accordion-item.active .accordion-header .icon {
transform: rotate(90deg); /* Rotate icon when accordion is active */
}

.accordion .accordion-item.active .accordion-content {
display: block; /* Show content when accordion is active */
}




.inner-section-contact-form{
    padding: 50px;
    border-radius: 20px;
    background-color: #F5F5F5;
    gap:50px;
}

.inner-section-contact-form div{
    flex: 1;
}

.contact-sec {
    display: flex;
    flex-direction: column;
    gap:25px;
}


.contact-sec h3{
    font-size: 40px;
    color:#000;
    line-height: 1em;
    font-weight: 600;
}

.contact-sec p{
    font-size: 20px;
    color:#000;
    line-height: 1.4em;
    font-weight: 400;
}

.contact-sec form{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.contact-sec form input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select, textarea{
    padding:15px 20px;
    background-color: transparent;
    color:#000;
    border: 1px solid #0000005d;
    border-radius: 5px;
    outline: none;
}

.contact-sec form input[type="submit"]{
    width: 200px;
    background-color: #FF6700;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color:#fff;
    padding:15px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.bot-form-deitals{
    font-size: 15px!important;
    color:#00000085!important;
    font-weight: 500;
}

.phone-email{
    display: flex;
    gap: 15px;
}

.phone-email input{
    flex: 1;
}

::placeholder, .discover-card p, .content.our-story h3 {
    color:#000;
}

.our-story h2{
    font-size: 55px;
}

.mobile{
    display: none;
}

.contact-image img{
    width: 100%;
}

.inner-section-contact-details{
    display: flex;
    justify-content: center;
}



.contact-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 90%;
}

.contact-details-content h2{
    font-size: 65px;
    color:#000;
    line-height: 1em;
    font-weight: 600;
}

.contact-details-content p{
    font-size: 20px;
    color:#000;
    line-height: 1.3em;
    font-weight: 400;
}


.contact-details-card{
    display: flex;
    gap:50px;
    width: 100%;
}


.detail-card{
    padding:30px;
    border-radius: 15px;
    background-color: #F5F5F5;
    display: flex;
    gap:40px;
    flex: 1;
}

.card, .number{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}

.card{
    width: 45%;
}

.number{
    width: 55%;
}


.card h4, .number h4{
    font-size: 25px;
    font-weight: 600;
}

.card p{
    font-size: 18px;
    font-weight: 400;
}

.contact-btn{
    width: 100%;
    padding:15px 20px;
    color:#fff;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #FF6700;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}


.team-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-section-step.step-2.team-sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1330px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content.our-story.team, .card-image, .join.content, .faQs-btn {
    text-align: center;
    align-items: center;
}

.content.our-story.team p, .hdw-flex p {
    text-align: center;
    width: 80%;
}

.team-images .image.card {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 50px;
    width: 100%;
}

.team-images {
    display: flex;
    gap: 20px;
    width: 100%;
}


.team-images .card-image img {
    width: 70%;
}

.team-images .card-row {
    display: flex;
    flex-direction: row;
}

.card-icon {
    display: flex;
    justify-content: flex-end;
}
.card-text h3, p, .home-banner-footer-section h3 {
    color: #fff;
}

.line::before {
    content: "";
    display: block;
    margin: 15px 0;
    border-bottom: 1px solid #707070;
}

.card-icon img {
    height: 50px;
    width: auto;
}

.vet-proc .public-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

section#vet-proc {
    flex-direction: column;
    gap: 100px;
}

.vet-proc-column {
    display: flex;
    width: 100%;
    max-width: 1330px;
}

.vet-proc-content {
    justify-content: center;
    padding: 50px;
}

.inner-main-sec.contact {
    max-width: 1140px;
}

.contact-icons {
    display: flex;
    gap: 20px;
}

section.join {
    padding: 200px;
}

.follow-btn.membership {
    width: 330px;
}

.hdw.inner-main-sec {
    justify-content: center;
}

.hdw-row {
    display: flex;
    gap: 20px;
}

.hdw-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.hdw-row .hdw-flex h3 {
    font-size: 25px;
    color: #000;
    text-align: center;
}

.howDoes-context {
    background: #000000db;
    border-radius: 25px;
    gap: 0;
}

.howDoes-column {
    padding: 50px;
}

.howDoes-column h3, .howDoes-column p {
    color: #fff;
}

.DOes.content p:before {
    content: '\2713';
    background: #FF6700;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.DOes.content p {
    background: #fff;
    color: #000;
    font-size: 15px;
    padding: 20px 10px;
    border-radius: 10px;
}

.fa-chevron-right:before {
    content: '\002B' !important;
    color: #FF6700;
}



.section-browse-sec{
    padding:150px 20px 50px;
    width: 100%;
}

.inner-section-browse-sec{
    width: 100%;
}

.browse-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.browse-content h2{
    font-size: 55px;
}

.browse-content h4{
    font-size: 25px;
}

.browse-form{
    width:100%;
    display: flex;
    gap:20px;
    padding: 50px;
    border-radius: 40px;
    background-color: #ECECEC;
    align-items: flex-end;
}

.browse-form .input{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.browse-form .where{
   width: 35%;
}

.browse-form .When{
    width: 21.6666666667%;
}

.browse-form .Who{
    width: 21.6666666667%;
}



.browse-form select, .browse-form .When input{
    width: 100%;
    background-color: #fff;
    border: 0px;
    outline: none;
    font-size: 18px;
}


.browes-btn{
    padding:15px 20px;
    background-color: #FF6700;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    color:#fff;
    width: 21.6666666667%;
    outline: none;
}



.browse-page-title{
    width: 100%;
    display: flex;
    gap:30px;
    align-items: center;
}

.browse-page-title span{
    color:#000;
}

.browse-card{
    display: flex;
    flex-direction: column;
    gap:15px;
}


.browse-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.browse-title h5{
    font-size: 20px;
    font-weight: 500;
}

.browse-title p{
    font-size: 17px;
    font-weight: 500;
    color:#FF6700;
}

.browse-utilities{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.utils{
    display: flex;
    align-items: center;
    width: 33.3%;
    padding:5px;
    gap:10px;
}

.utils img{
    width:25px;
    height: 25px!important;
    object-fit: contain;
}

.utils p{
    font-size: 13px;
}


.user-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user-sec{
    display: flex;
    gap:10px;
    align-items: center;
}

.user-sec img{
    width: 40%;
    height: 60px;
    object-fit: contain;
}

.user-sec p {
    font-weight: 500;
}

.entire-btn{
    background-color: #FF6700;
    font-size: 13px;
    color:#fff;
    padding:10px 20px;
    border-radius: 3px;
}



.carousel {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.carousel ul {
    width:100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease;
}
.carousel li {
    flex: 0 0 25%;
}
.carousel img {
    width: 100%;
    height: 450px;
    object-fit:cover ;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}



.inner-browse-main{
    width:100%;
    padding:80px 20px 50px;
    display: flex;
    justify-content: center;
}

.inner-content-inner-browse-main{
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:50px;
}

.inner-main-content{
    width:65%;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.section-menu{
    width:100%;
    display: flex;
    gap:20px;
    border-bottom: 1px solid #707070;
    justify-content: space-around;
}

.section-menu a {
    padding:15px 20px;
    text-align: center;
    color:#000000;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    flex: 1;
}

.inner-side-bar{
    width:35%;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.tag-btn{
    padding:15px 20px;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #FF6700;
    width: 200px;
    text-align: center;
}

.place-info{
    display: flex;
    flex-direction: column;
    gap:25px;
}


.head-info{
    display: flex;
    gap:50px;
}

.name-place{
    width:80%;
    display: flex;
    flex-direction: column;
    gap:0px;
}

.name-place h2{
    font-size: 55px;
    font-weight: 500;
}

.name-place h4{
    font-size: 35px;
    font-weight: 400;
}

.place-rate{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.place-rate h2{
    font-size: 55px;
    font-weight: 500;
    color:#FF6700;
}

.place-rate h4{
    font-size: 25px;
    font-weight: 500;
    color:#FF6700;
}

.place-utilities{
    display: flex;
    gap:20px;
}

.inner-utils{
    flex: 1;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}

.inner-utils p{
    color:#000!important;
}


.inner-description{
    padding:40px;
    border-radius: 40px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.inner-description h2{
    font-size: 40px;
}

.inner-desd-sec{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.inner-desd-sec h3{
    font-size: 25px;
    font-weight: 500;
}

.inner-desd-sec p{
    font-size: 18px;
    font-weight: 400;
    color:#000;
}


.inner-amenities-sec{
    padding:40px;
    border-radius: 40px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap:20px;
}


.inner-amenities-sec h2{
    font-size: 40px;
}

.inner-amenities-sec h4{
    font-size: 25px;
}

.list-amenities-icons{
    display: flex;
    flex-wrap: wrap;
}

.list-amens-icon{
    width: 25%;
    padding:10px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
}

.list-amens-icon img {
    width:40px;
    height: 40px;
    object-fit: contain;
}

.list-amens-icon p{
    color:#000;
}


.user-card-sec{
    padding:50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0000003d;
    display: flex;
    flex-direction: column;
    gap:20px;
}


.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    gap:30px;
}

.user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width:25%;
    position: relative;
}

.profile-img{
    width:100%;
    border-radius: 100px;
}

.check-img{
    position: absolute;
    bottom: 0;
    right:20px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.user-names {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.user-names h4{
    font-size: 30px;
}

.user-names p{
    font-size: 18px;
    font-weight: 400;
    color:#000;
}


.user-badge{
    display: flex;
    justify-content: center;
    gap:20px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    transition: .4s;
}

.user-badge:hover{
    background-color: #F9F9F9;
}

.user-badge img {
    width:30%;
    height: 100px;
    object-fit: contain;
}

.badge-name{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.badge-name h3{
    font-size: 25px;
}

.badge-name p{
    font-size: 18px;
    color:#000;
}


.start-rate{
    display: flex;
    gap:20px;
    justify-content:center;
}

.start-rate img {
    width: 120px;
    height: 20px;
    object-fit: contain;
}

.start-rate p{
    color:#000;
    font-size: 16px;
}


.verified-lists{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 80%;
    margin:0 auto;
}

.verif-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}

.verif-list img{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.verif-list p{
    color:#000;
    font-size: 16px;
}


.card-bot-btn{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.bot-contact-btn{
    width: 100%;
    padding:15px 20px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background-color: #FF6700;
    color:#fff;
    border-radius: 5px;
}

.flag-bot{
    display: flex;
    gap:20px;
    justify-content: center;
}

.flag-bot img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.flag-bot p{
    font-size: 16px;
    color:#000;
}


.map-sect{
    display: flex;
    flex-direction: column;
    gap:20px;
}


.map-sect img {
    width: 100%;
}


.become-section{
    padding:40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
    background-image: url(../images/bam-IMg.png);
    background-position: center center ;
    background-size:cover;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.become-section::before{
    content:"";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0000009d;
    z-index: 0;
}



.become-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    position: relative;
    z-index: 1;
}

.become-content h3{
    font-size: 30px;
    color:#FF6700;
    font-weight: 500;
}


.become-content p{
    font-size: 18px;
    color:#fff;
    font-weight: 400;
    text-align: center;
}

.bc-sec-btn{
    padding:15px 20px;
    width:100%;
    background-color: #FF6700;
    color: #fff;
    text-decoration: none;
    text-align: center;
}



.schedule-sec{
    padding:40px;
    height:450px;
    border-radius: 40px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
}


#daterange, #daterange-main{
    padding:15px 20px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
}


.calendar {
    width: 80%;
    margin: 0 auto;
}
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.days {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.day {
    width: calc(100% / 7);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.time-slots {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.time-slot {
    width: 100px;
    padding: 10px;
    border-right: 1px solid #ccc;
    text-align: center;
}
.time-slot:last-child {
    border-right: none;
}
.schedule {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.schedule-item {
    width: calc(100% / 7);
    padding: 10px;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.schedule-item:last-child {
    border-right: none;
}
.selected {
    background-color: #ffa;
}


/* SIGN IN */


.popup-form{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000083;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}


.show-sign-in-card{
    display: flex;
}

.show-sign-up-card{
    display: flex;
}

.popup-form-card{
    width: 90%;
    max-width: 500px;
    padding:50px;
    border-radius: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    justify-content: center;
}

.logo-sign-in, .logo-sign-up{
    width: 100%;
    max-width: 250px;
    height: 60px;
    object-fit: contain;
}

.google-img{
    width: 100%;
    height: 70px;
    object-fit: contain;
}

.popup-form-card h3{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.popup-form-card p {
    color:#000;
}

.line-card{
    display: flex;
    align-items: center;
    gap:20px;
}

.line-card p{
    font-size: 20px;
    color:#000;
}

.line-card hr{
    width: 150px;
    height:1px;
}

.popup-form-card {
    position: relative;
}


.popup-form-card form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.popup-form-card form 
input[name="email-sign-in"],
input[name="pass-sign-in"],
input[name="email-sign-up"],
input[name="pass-sign-up"], 
input[name="full-name-sign-up"] {
    width:100%;
    padding:20px;
    border:2px solid #FF6700;
    border-radius: 5px;
    font-size: 15px;
}

.popup-form-btn{
    padding:15px;
    font-size:18px;
    background-color: #FF6700;
    color:#fff;
    text-transform: uppercase;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}


.popup-form-card p b{
    color:#FF6700;
    cursor: pointer;
}


.close-card{
    position: absolute;
    top:25px;
    right:25px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}




/* Create Your Listing */


.cyl-banner h2{
    font-size:55px;
    text-align: center;
    padding-bottom: 30px;
    color:#fff;
}

.cyl-banner{
    width:100%;
    z-index: 1;
}



.inner-section-desires{
    flex-direction: column;
    gap:20px;
}

.desire-item img{
    width: 100%;
    margin-bottom: 20px;
}

.desires-content{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-top: 50px;
}


.desires-cont-col{
    display: flex;
    gap:60px;
}

/* .desire-item{
    flex: auto;
} */

.item{
    width: 40%;
}


.desire-item h4{
    font-size: 30px;
    font-weight: 400;
}

.desire-item p{
    font-size: 18px;
    color:#000;
    font-weight: 400;
    text-align: left!important;
}


.item-2, 
.item-3{
    width: 25%!important;
}


.item img,
.item-2 img, 
.item-3 img{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.item4 img, 
.item5 img{
    object-fit: cover;
    border-radius: 10px;
}


.inner-section-desires h3{
    font-size: 55px;
}

.inner-section-desires p{
    font-size: 18px;
    text-align: center;
    color:#000;
}



.cyl-header{
    justify-content: space-between;
    align-items: center;
}


.nav-user-sec{
    position: relative;
}


.cyl-user-profile{
    width: 300px;
    display: flex;
    gap:15px;
    align-items: center;
}

.cyl-user-profile img {
    width: 25%;
    height: 60px;
    object-fit: contain;
}

.cyl-user-profile p {
    width: 75%;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap:15px;
}

.cyl-user-profile p img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}



.cyl-user-dropdown-card{
    background-color: #fff;
    padding:20px;
    border-radius: 15px;
    width: 300px;
    position: absolute;
    top: 70px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap:15px;
    box-shadow: 0px 0px 5px #0000004f;
}




.db-items{
    border-bottom:2px solid #00000049;
    padding-bottom: 10px;
}

.db-items, .logout-item{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
}

.db-items img, .logout-item img {
    width: 10%;
    height: 18px;
    object-fit: contain;
}

.db-items h4, .logout-item h4{
    width: 80%;
    font-weight: 500;
    color:#000;
    font-size: 15px;
    line-height: 1.3em;
}

.db-items p{
    width: 100%;
    font-weight: 400;
    color:#000;
    font-size: 10px;
    line-height: 1.2em;
}

/* Ralph CSS */
.add-home-tab .main-navbar {
    justify-content: space-between;
    align-items: center;
}

.section-navbar.add-home-tab {
    position: static;
}
.inner-pages-navbar.add-home-tab {
    position: static !important;
}
#add-home-tab {
    display: flex;
    justify-content: center;
    width: 100%;
}
#add-home-tab .inner-main-sec {
    padding: 50px 20px;
    max-width: 1330px;
}
.add-homeSec1 h1 {
    font-size: 49px;
}
.add-homeSec1 p {
    color: #000;
}
.add-homeSec2 img {
    width: auto;
    height: 400px;
}
#add-home-tab #form1 .fomr1Sec1,
#add-home-tab #form2 .fomr1Sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 150px;
    background: #FF6700;
    padding: 20px;
    border-radius: 15px;
}
#add-home-tab #form1 p,
#add-home-tab #form2 p {
    color: #fff;
}
#add-home-tab #form1 .fomr1Sec2,
#add-home-tab #form2 .fomr1Sec2 {
    background: #D1D1D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}
#add-home-tab #form1 .fomr1Sec2 p,
#add-home-tab #form2 .fomr1Sec2 p {
    color: #000;
}
.add-home-tab-optionSec,
#add-home-tab .radio-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#add-home-tab .form-container #form1,
#add-home-tab .form-container #form2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
#add-home-tab .radio-buttons label {
    font-size: 20px;
}
#black-line {
    width: 100%;
    display: flex;
    justify-content: center;
}
.black-line {
    max-width: 1330px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-line::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid #000;
}
#add-homeSec-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}
.inputBtn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 1330px;
    width: 100%;
}
.inputBtn input[type="button"] {
    background: #FF6700;
    padding: 20px 40px;
    display: flex;
    border: none;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#step2.inputBtn {
    justify-content: space-between;
}
#step2.inputBtn input[type="button"]:nth-child(1) {
    background: #CCCCCC;
    color: #000;
}